:root{
	--cool: #006ebb;
	--cute: #ef4d78;
	--natural: #ce9902;
	--rustic: #6b8a00;
	--sporty: #00764e;
	--hip: #e87000;
}

::selection{
	background-color: #24766f;
}

body {
	font-family: "Cabin";
	background: url("../img/ac_pattern05.png");
}

h1, .jumbotron h3 {
	font-family: "Bree Serif";
}

header h3{
	margin: 0 auto;
	background: rgba(53, 143, 129, 1);
	padding: 5px;
	border-radius: 10px;
	color: #fff;
	max-width: 500px;
}

.jumbotron {
	background: linear-gradient(rgba(53, 143, 129, 1),rgba(53, 143, 129, 0));
	text-align: center;
}

#title {
	color: #fdca31;
	text-shadow: 3px 3px #72540e;
}

.table-container {
	background: rgba(53, 143, 129, .7);
	border-radius: 40px;
	min-width:80%;
	text-align: center;
	padding: 20px;
}

#sectionTitle{
	/*padding-bottom:10px;*/
	color: #fff;
	text-shadow: 3px 3px rgba(53, 143, 129, 1);
}
.xs-mat {
	margin: 20px auto;
	padding-bottom:20px;
}
.xs-mat, .tableMedium {
	background: rgba(255,255,255,.4);
	border-radius: 10px;
	box-shadow: 2px 2px rgba(53, 143, 129, 1);
}

.xs-matId {
	background: rgba(53, 143, 129, 1);
	border-radius: 10px;
	color: #fdca31;
	padding: 5px;
	padding-top: 0px;
	font-family: "Bree Serif";
}


.matImg-xs {
	height: 25px;
	margin: 0px;
	padding-left: 5px;
	padding-bottom: 0px;
}

#my-content .villageBox {
	background: #ffcc00;
}



.mat {
	text-align: center;
	vertical-align: middle !important;
	font-weight: 700;
	background-color: rgba(255,255,255,.2);
}

.matImg {
	height: 45px;
	margin: 5px;
}

td{
	border-right: 1px solid #ddd;
}

.table-hover tbody tr:hover .cellCool  {
  background-color: rgba(0, 110, 187, .4);
}

.table-hover tbody tr:hover .cellCute  {
  background-color: rgba(239, 77, 120, .4);
}

.table-hover tbody tr:hover .cellHip  {
  background-color: rgba(232, 112, 0, .4);
}

.table-hover tbody tr:hover .cellNatural  {
  background-color: rgba(206, 153, 2, .4);
}

.table-hover tbody tr:hover .cellRustic  {
  background-color: rgba(107, 138, 0, .4);
}

.table-hover tbody tr:hover .cellSporty  {
  background-color: rgba(0, 118, 78, .4);
}

.table-hover tbody tr:hover th {
	background-color: rgba(255,255,255,.6);
}

.table-responsive {
	border: 0px;
}

/* ===================================
        icons for essence row
=====================================
.essence {
	border: 4px solid transparent;
	border-radius: 10px;

}*/


#cool::before {
	content: "";
	display: block;
	background: url("../img/essence/coolIcon.png");
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 8px 0 0;
}

#cute::before {
	content: "";
	display: block;
	background: url("../img/essence/cuteIcon.png");
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 8px 0 0;
}

#hip::before {
	content: "";
	display: block;
	background: url("../img/essence/hipIcon.png");
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 8px 0 0;
}

#natural::before {
	content: "";
	display: block;
	background: url("../img/essence/naturalIcon.png");
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 8px 0 0;
}

#rustic::before {
	content: "";
	display: block;
	background: url("../img/essence/rusticIcon.png");
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 8px 0 0;
}

#sporty::before {
	content: "";
	display: block;
	background: url("../img/essence/sportyIcon.png");
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 8px 0 0;
}

.cellCool {	background: rgba(0, 110, 187, .2); }
.cellCute {background: rgba(239, 77, 120, .2);}
.cellHip {background: rgba(232, 112, 0, .2);}
.cellNatural {background: rgba(206, 153, 2, .2);}
.cellRustic {background: rgba(107, 138, 0, .2);}
.cellSporty {background: rgba(0, 118, 78, .2); border-right:0px;}

/*==================
villager tooltip
===================*/

/*
.villager{
	position: relative;
	display: inline-block;
}

.tooltip{
	visibility: hidden;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 2px;
	background: #131313;

	position:absolute;
	z-index: 1;
	width: 70px;
	top: 110%;
	left: 50%;
	margin-left:-35px;
	opacity: 0;
	transition: .3s ease;
	
}

.villager:hover .tooltip{
	visibility: visible;
	opacity: 1;
	transition: .3s ease;
}

.villager .tooltip::after{
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}*/



@media screen and (min-width: 0px) and (max-width: 490px) {
  #my-content { display: block; }  
  .tableMedium { display: none !important ;}
}

@media screen and (min-width: 490px) {
  #my-content { display: none !important; }   
  .tableMedium { visibility: visible  !important ;}
}