<!doctype html>
<html>
	<head>
		<meta charset= "UTF-8">
		<!-- Bootstrap; ensure proper rendering & touch zooming-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />

		<!-- jQuery import -->
		<script src="http://www.google.com/jsapi" type="text/javascript"></script>
		<script type="text/javascript">google.load("jquery", "1.3.2");</script>
		<!-- CSS & Google Fonts Import-->
		
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Cabin:400,700" rel="stylesheet"/>

		<link href="css/main.css" rel="stylesheet"/>
		<!-- Include the AngularJS library -->
		<script src="lib/angular.min.js"></script>

		<style>
			.cool{ background: var(--cool); color: #fff; }
			.cute{ background: var(--cute); color: #fff; }
			.natural{	background: var(--natural); color: #fff; }
			.rustic{ background: var(--rustic); color: #fff; }
			.sporty{ background: var(--sporty); color: #fff; }
			.hip{ background: var(--hip);color: #fff; }
		</style>

		<!-- Favicon Start -->
			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
			<link rel="manifest" href="/site.webmanifest">
			<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#97d1b0">
			<meta name="msapplication-TileColor" content="#00aba9">
			<meta name="theme-color" content="#97d1b0">
		<!-- Favicon End-->


	</head>
	<body ng-app="acTable">
		<header class="jumbotron">
			<h1 id = "title">Animal Crossing: Pocket Camp</h1>
			<h3>live infographic</h3>
		</header>
		
		<div class="main" ng-controller="MainController">

			<div class="container table-container">
				<h1 id = "sectionTitle">Villager Essences & Primary Resources</h1>
				
				<!-- extra small listing here -->
				<div id="my-content">

						<div class="container xs-mat">	
							<h3 class="xs-matId xs-cotton">cotton <img src="img/materials/cotton.png" class="matImg-xs xs-Cotton"><h3>
							<div ng-repeat="a in coolCotton"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in cuteCotton"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in hipCotton"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in naturalCotton"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in rusticCotton"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in sportyCotton"><villagerxs v="a"></villagerxs></div>
						</div>

						<div class="container xs-mat">
							<h3 class="xs-matId xs-paper">paper <img src="img/materials/paper.png" class="matImg-xs xs-Paper"><h3>
							<div ng-repeat="a in coolPaper"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in cutePaper"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in hipPaper"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in naturalPaper"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in rusticPaper"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in sportyPaper"><villagerxs v="a"></villagerxs></div>
						</div>

						<div class="container xs-mat">
							<h3 class="xs-matId xs-preserves">preserves <img src="img/materials/preserves.png" class="matImg-xs xs-Preserves"><h3>
							<div ng-repeat="a in coolPreserves"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in cutePreserves"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in hipPreserves"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in naturalPreserves"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in rusticPreserves"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in sportyPreserves"><villagerxs v="a"></villagerxs></div>
						</div>

						<div class="container xs-mat">
							<h3 class="xs-matId xs-steel">steel <img src="img/materials/steel.png" class="matImg-xs xs-Steel"><h3>
							<div ng-repeat="a in coolSteel"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in cuteSteel"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in hipSteel"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in naturalSteel"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in rusticSteel"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in sportySteel"><villagerxs v="a"></villagerxs></div>
						</div>

						<div class="container xs-mat">
							<h3 class="xs-matId xs-wood">wood <img src="img/materials/wood.png" class="matImg-xs xs-Wood"><h3>
							<div ng-repeat="a in coolWood"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in cuteWood"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in hipWood"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in naturalWood"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in rusticWood"><villagerxs v="a"></villagerxs></div>
							<div ng-repeat="a in sportyWood"><villagerxs v="a"></villagerxs></div>
						</div>

				</div>
				<!-- extra small listing end -->

				<!-- Essence Resource Table Start-->
				<table class="table tableMedium table-hover table-responsive">
					<thead><tr>
						<th style=""></th>
						<th class="essence cool" id="cool">cool</th>
						<th class="essence cute" id="cute">cute</th>
						<th class="essence hip" id="hip">hip</th>
						<th class="essence natural" id="natural">natural</th>
						<th class="essence rustic" id="rustic">rustic</th>
						<th class="essence sporty" id="sporty" style="border-top-right-radius: 10px">sporty</th>
					</tr></thead>
					<tbody>
						<tr>
							<th class="mat">
								<img src="img/materials/cotton.png" class="matImg">
								</br>cotton</td>
								<td class="cellCool"><div class="villager" ng-repeat="a in coolCotton">
								<villager v="a"></villager></div></td>
								<td class="cellCute"><div class="villager" ng-repeat="a in cuteCotton">
								<villager v="a"></villager></div></td>
								<td class="cellHip"><div class="villager" ng-repeat="a in hipCotton">
								<villager v="a"></villager></div></td>
								<td class="cellNatural"><div class="villager" ng-repeat="a in naturalCotton">
								<villager v="a"></villager></div></td>
								<td class="cellRustic"><div class="villager" ng-repeat="a in rusticCotton">
								<villager v="a"></villager></div></td>
								<td class="cellSporty"><div class="villager" ng-repeat="a in sportyCotton">
								<villager v="a"></villager></div></td>
						</tr><tr>
							<th class="mat">
								<img src="img/materials/paper.png" class="matImg">
								</br>paper</td>
								<td class="cellCool"><div class="villager" ng-repeat="a in coolPaper">
								<villager v="a"></villager></div></td>
								<td class="cellCute"><div class="villager" ng-repeat="a in cutePaper">
								<villager v="a"></villager></div></td>
								<td class="cellHip"><div class="villager" ng-repeat="a in hipPaper">
								<villager v="a"></villager></div></td>
								<td class="cellNatural"><div class="villager" ng-repeat="a in naturalPaper">
								<villager v="a"></villager></div></td>
								<td class="cellRustic"><div class="villager" ng-repeat="a in rusticPaper">
								<villager v="a"></villager></div></td>
								<td class="cellSporty"><div class="villager" ng-repeat="a in sportyPaper">
								<villager v="a"></villager></div></td>
						</tr><tr>
							<th class="mat">
								<img src="img/materials/preserves.png" class="matImg">
								</br>preserves</td></td>
								<td class="cellCool"><div class="villager" ng-repeat="a in coolPreserves">
								<villager v="a"></villager></div></td>
								<td class="cellCute"><div class="villager" ng-repeat="a in cutePreserves">
								<villager v="a"></villager></div></td>
								<td class="cellHip"><div class="villager" ng-repeat="a in hipPreserves">
								<villager v="a"></villager></div></td>
								<td class="cellNatural"><div class="villager" ng-repeat="a in naturalPreserves">
								<villager v="a"></villager></div></td>
								<td class="cellRustic"><div class="villager" ng-repeat="a in rusticPreserves">
								<villager v="a"></villager></div></td>
								<td class="cellSporty"><div class="villager" ng-repeat="a in sportyPreserves">
								<villager v="a"></villager></div></td>
						</tr><tr>
							<th class="mat">
							<img src="img/materials/steel.png" class="matImg">
								</br>steel</td></td>
								<td class="cellCool"><div class="villager" ng-repeat="a in coolSteel">
								<villager v="a"></villager></div></td>
								<td class="cellCute"><div class="villager" ng-repeat="a in cuteSteel">
								<villager v="a"></villager></div></td>
								<td class="cellHip"><div class="villager" ng-repeat="a in hipSteel">
								<villager v="a"></villager></div></td>
								<td class="cellNatural"><div class="villager" ng-repeat="a in naturalSteel">
								<villager v="a"></villager></div></td>
								<td class="cellRustic"><div class="villager" ng-repeat="a in rusticSteel">
								<villager v="a"></villager></div></td>
								<td class="cellSporty"><div class="villager" ng-repeat="a in sportySteel">
								<villager v="a"></villager></div></td>
						</tr><tr>
							<th class="mat" style="border-bottom-left-radius:10px;">
							<img src="img/materials/wood.png" class="matImg">
								</br>wood</td></td>
								<td class="cellCool"><div class="villager" ng-repeat="a in coolWood">
								<villager v="a"></villager></div></td>
								<td class="cellCute"><div class="villager" ng-repeat="a in cuteWood">
								<villager v="a"></villager></div></td>
								<td class="cellHip"><div class="villager" ng-repeat="a in hipWood">
								<villager v="a"></villager></div></td>
								<td class="cellNatural"><div class="villager" ng-repeat="a in naturalWood">
								<villager v="a"></villager></div></td>
								<td class="cellRustic"><div class="villager" ng-repeat="a in rusticWood">
								<villager v="a"></villager></div></td>
								<td class="cellSporty" style="border-bottom-right-radius:10px;"><div class="villager" ng-repeat="a in sportyWood">
								<villager v="a"></villager></div></td>	
						</tr></tbody>
				</table>
				<h5 style="text-align:right;color:#fff;">last updated {{ lastUpdate | date }}</h5>
				<!-- Essence Resource Table End-->
			

			</div> <!-- table-container -->
		</div> <!-- end of main, MainController -->
		
		<!-- Modules -->
		<script src="js/app.js"></script>

		<!-- Controllers -->
		<script src="js/controllers/MainController.js"></script>
		<!-- Services -->
		<!-- Directives -->
		<script src="js/directives/villager.js"></script>
		<script src="js/directives/villager-xs.js"></script>
	</body>
</html>